// colors 
$green: #4CB8B3;
$pink: #F53756;
$yellow: #FEF46D;
$purple: #752F97;
$black: #000000;
$white: #FFFFFF; 

// fonts
$font-primary: 'Montserrat', sans-serif;
$fw-thin: 300;
$fw-regular: 400;
$fw-bold: 700;
$fw-extrabold: 900;


// separation
$separation: 5rem;

// media queries
$min-phone: 340px;
$phone: 480px;
$tablet: 596px;
$laptop: 998px;